@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #212529;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15px;
}

.MuiBadge-root {
    margin-top: -15px;
}

.navbar-container {
    margin: 0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.m-container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.nav-menu { 
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
}

.nav-item {
    color: #fff;
    padding: 20px;
    list-style: none;
    transition: 0.3s ease-out;
}

.nav-item:hover {
    border-bottom: 2px solid #fff;
    letter-spacing: 3px;
}

.m-nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}
 
.nav-title {
    font-size: 24px;
    font-family: 'Amsterdam-Two', sans-serif;
    transition: 0.4s all;
}

.nav-title:hover {
    letter-spacing: 3px;
    color: white;
}

.nav-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cart-icon {
    margin-bottom: 1.2rem;
    margin-left: 10px;
}



@media screen and (max-width: 960px) {

    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 90px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }    
  
    .nav-menu.active {
        background: #f5f6f8;
        left: 0;
        opacity: 1.2;
        transition: all 0.6s ease;
        z-index: 1;
    }
  
    .m-nav-links {   
        text-align: center;  
        width: 30%;
        display: table;
    }
  
    .nav-item {
        color: #212529;
        padding: 1rem;
        margin: 70px;
    }
  
      .nav-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60%;
          height: 60px;
        }
  
      .line {
          width: 80px;
      }
  
      .nav-con {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
      }
      
      .MuiBadge-root {
        margin-top: 0px;
    }
  
  }