@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Anton&family=Roboto&family=Cabin:wght@600;700&family=Abril+Fatface&display=swap&family=Quicksand:wght@100&wght@300&display=swap');

@font-face {
    font-family: "Amsterdam-Two";
    src: url('https://res.cloudinary.com/plvtinum/raw/upload/v1637310842/ecommerce/amsterdam-two-ttf_us1gpd.ttf')
      format("truetype");
}
#root {
    background-color: #f5f6f8;
}

.con {
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-heading {
    display: flex;
    align-items: center; 
    flex-direction: column;
    margin-top: -10px;
}

.featured-title {
    text-align: center;
    margin-top: 10px;
    font-family: 'Abril Fatface', sans-serif;
    color: rgba(12, 1, 1, 0.822);
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 3px;
}

.line {
    width: 180px;
    border: 1px solid black;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-top: 10px;
    transition: 0.3s ease-out;
}

a {
    text-decoration: none !important;
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 30px;
    box-sizing: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
    color: black;
    background-color: #f06c79;
    transition: all ease 0.4s;
}


