.svg {
    width: 200px;
    height: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  
  #plug,
  #socket {
    fill: #212529;
  }
  
  #loop-normal {
    fill: none;
    stroke: #455a64;
    stroke-width: 8;
  }
  #loop-offset {
    display: none;
  }
  