.error {
  width: 80%;
  margin: 0 auto;
  margin-top: -100px;
}

.error-body {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 140px;
    z-index: 55;
}

.error-img {
    margin-left: 100px;
}

.error-img img {
    width: 90%;
}

.error-t {
    font-weight: 900;
    font-size: 40px;
    margin: 20px;
}

.error-p {
    font-size: 24px;
}

@media screen and (max-width: 1150px) {
    .error {
        margin-bottom: 60px;
      }

      .error-body{
        margin-top: -100px;
        top: 150px;
        left: 0;
        right: 0;
    }

      .error-img{
        margin-top: 40px;
      }

      .error-t {
        font-weight: 900;
        font-size: 30px;
        margin: 20px;
    }

    .error-p {
        font-size: 20px;
    }
}

@media screen and (max-width: 970px) {
    .error {
        margin-bottom: 60px;
      }

      .error-img{
          margin-top: 40px;
      }

      .error-body{
          margin-top: -100px;
          top: 130px;
          left: 0;
          right: 0;
      }

      .error-t {
        font-weight: 900;
        font-size: 24px;
      }

    .error-p {
        font-size: 16px;
    }
}

@media screen and (max-width: 590px) {
      .error-img{
          margin-top: 30px;
          margin-left: 50px;
      }

      .error-body{
          margin-top: -100px;
          top: 110px;
          left: 0;
          right: 0;
      }

      .error-t {
        font-weight: 900;
        font-size: 22px;
      }

    .error-p {
        font-size: 14px;
    }
}

@media screen and (max-width: 460px) {
      .error-img{
          margin-top: 60px;
          margin-left: 50px;
      }

      .error-t {
        font-weight: 900;
        font-size: 18px;
      }

    .error-p {
        font-size: 12px;
    }
}



